{% extends 'base.html' %}
{% load static %} 
{% block content %}



    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('{% static 'images/hero_1.jpg' %}');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">{{ applicant.get_full_name }}</h1>
            <div class="custom-breadcrumbs">
              <a href="{% url 'jobapp:home' %}">Home</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Applicant</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section block__18514" id="next-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 mr-auto">
          </div>
          <div class="col-lg-8">
            <span class="text-primary d-block mb-5"><img src="{{ candidate.image.url }}" alt="{{ candidate.image }}" class="display-1"></span>
            <h2 class="mb-4">{{ applicant.get_full_name }}</h2>
            <p><h3>Email :</h3>{{ applicant.email }}</p>
            <p><h3>Gender :</h3>
                {% if applicant.gender == 'M' %}
                    Male
                {% else %}
                    Female
                {% endif %}
            </p>
            <p><h3>Personal Information :</h3>
              <br>
              <p><strong>Age: </strong>{{ candidate.age }}</p>
              <br>
              <p><strong>Place Of Birth: </strong>{{ candidate.place_of_birth }}</p>
              <br>
              <p><strong>Place Of Domicile: </strong>{{ candidate.place_of_domicile }}</p>
              <br>
              <p><strong>Nationality: </strong>{{ candidate.nationality }}</p>
              <br>
              <p><strong>Marital Status: </strong>{{ candidate.marital_status }}</p>
              <br>
              <p><strong>Languages: </strong>{{ candidate.language }}</p>
              <br>
            </p>
            <p><h3>Education Information :</h3>
              <br>
              <p><strong>University: </strong>{{ candidate.university_level }}</p>
              <br>
              <p><strong>Advanced Level: </strong>{{ candidate.advanced_level }}</p>
              <br>
              <p><strong>Ordinary Level: </strong>{{ candidate.ordinary_level }}</p>
              <br>
              <p><strong>Primary Level: </strong>{{ candidate.primary_level }}</p>
              <br>
            </p>
            <p><h3>Work Experience :</h3>
              <br>
              <p><strong>Company: </strong>{{ candidate.company }}</p>
              <br>
              <p><strong>Position: </strong>{{ candidate.position }}</p>
              <br>
              <p><strong>Start Date: </strong>{{ candidate.start_date }}</p>
              <br>
              <p><strong>End Date: </strong>{{ candidate.end_date }}</p>
              <br>
              <p><strong>Duties: </strong>{{ candidate.duties }}</p>
              <br>
              <p><strong>Reason For Leaving: </strong>{{ candidate.reason_for_leaving }}</p>
              <br>
              <p><strong>Skills: </strong>{{ candidate.skills }}</p>
              <br>
            </p>
            <p><h3>Hobbies :</h3>{{ candidate.hobbies }}</p>
            <p><a href="mailto:{{ applicant.email }}" class="btn btn-primary btn-md mt-4">Contact</a></p>
          </div>
        </div>
      </div>
    </section>
    


{% endblock %}