{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- HOME -->
<section class="home-section section-hero overlay bg-image"
  style="background-image: url('{% static 'images/hero_1.jpg' %}');" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-white font-weight-bold">Update Skills</h1>
        <div class="custom-breadcrumbs">
          <a href="{% url 'jobapp:home' %}">Home</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>Update Skills</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-5">

        {% include 'messages.html' %}

<!--        {% if form.errors %}-->
<!--        {% for field in form %}-->
<!--        {% for error in field.errors %}-->
<!--        <div class="alert alert-danger alert-dismissable">-->
<!--          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
<!--          <strong>{{ error|escape }}</strong>-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--        {% endfor %}-->
<!--        {% for error in form.non_field_errors %}-->
<!--        <div class="alert alert-danger alert-dismissable">-->
<!--          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
<!--          <strong>{{ error|escape }}</strong>-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--        {% endif %}-->
        <form method="POST" action="#" class="p-4 border rounded" enctype="multipart/form-data">
          {% csrf_token %}
          {% for field in form %}
          {% if field.name == 'education' %}
            <h3 class="text-black mt-5 mb-5 border-bottom pb-2">Education Information</h3>
          {% elif field.name == 'work_experience' %}
            <h3 class="text-black mt-5 mb-5 border-bottom pb-2">Work Information</h3>
          {% elif field.name == 'age' %}
            <h3 class="text-black mt-5 mb-5 border-bottom pb-2">Personal Information</h3>
          {% elif field.name == 'skills' %}
            <h3 class="text-black mt-5 mb-5 border-bottom pb-2">Qualifications</h3>
          {% elif field.name == 'location' %}
            <div class="form-group">
                <label for="location">Location</label>
                <select name="location" class="selectpicker border rounded" id="location" data-style="btn-black" data-width="100%" data-live-search="true" title="Select Location">

              {% if field %}

                    <option value="{{ field }}"></option>

              {% endif %}
                </select>
            </div>
          {% endif%}
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">

              <label class="text-black" for="id_{{ field.name }}">{{ field.label }}</label>
              <input type="{{ field.field.widget.input_type }}" class="form-control" name="{{ field.name }}"
                id="id_{{ field.name }}" placeholder="{{ field.field.widget.attrs.placeholder }}">
            </div>
          </div>

          {% endfor %}
          <div class="row form-group">
            <div class="col-md-12">
              <input type="submit" value="Broadcast CV" class="btn px-4 btn-primary text-white">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
