{% extends 'base.html' %}
{% load static %} 
{% block content %}



    <!-- HOME -->
<section class="section-hero overlay inner-page bg-image"
         style="background-image: url('{% static 'images/hero_1.jpg' %}');"
         id="home-section" xmlns="http://www.w3.org/1999/html">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">{{ skills.user.get_full_name }}</h1>
            <div class="custom-breadcrumbs">
              <a href="{% url 'jobapp:home' %}">Home</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Applicant</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section block__18514" id="next-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 mr-auto">
<!--            <div class="border p-4 rounded">-->
<!--              <ul class="list-unstyled block__47528 mb-0">-->
<!--                <li><span class="active">Graphic Design</span></li>-->
<!--                <li><a href="#">Topic 1</a></li>-->
<!--                <li><a href="#">Topic 2</a></li>-->
<!--          -->
<!--              </ul>-->
<!--            </div>-->
          </div>
          <div class="col-lg-8">
<!--            <span class="text-primary d-block mb-5"><span class="icon-magnet display-1"></span></span>-->
<!--              <img src="{{ job.image.url }}" alt="{{ job.image }}">-->
            <span class="text-primary d-block mb-5"><img src="{{ skills.image.url }}" alt="{{ skills.image }}" class="display-1"></span>

            <h2 class="mb-4">{{ skills.user.get_full_name }}</h2>
            <p><h3>Email :</h3>{{ skills.user.email }}</p>
            <p><h3>Gender :</h3>
                {% if skills.user.gender == 'M' %}
                    Male
                {% else %}
                    Female
                {% endif %}
            </p>
            <p><h3>Personal Information :</h3>
              <br>
              <p><strong>Age: </strong>{{ skills.age }}</p>
              <br>
              <p><strong>Place Of Birth: </strong>{{ skills.place_of_birth }}</p>
              <br>
              <p><strong>Place Of Domicile: </strong>{{ skills.place_of_domicile }}</p>
              <br>
              <p><strong>Nationality: </strong>{{ skills.nationality }}</p>
              <br>
              <p><strong>Marital Status: </strong>{{ skills.marital_status }}</p>
              <br>
              <p><strong>Languages: </strong>{{ skills.language }}</p>
              <br>
            </p>
            <p><h3>Education Information :</h3>
              <br>
              <p><strong>University: </strong>{{ skills.university_level }}</p>
              <br>
              <p><strong>Advanced Level: </strong>{{ skills.advanced_level }}</p>
              <br>
              <p><strong>Ordinary Level: </strong>{{ skills.ordinary_level }}</p>
              <br>
              <p><strong>Primary Level: </strong>{{ skills.primary_level }}</p>
              <br>
            </p>
            <p><h3>Work Experience :</h3>
              <br>
              <p><strong>Company: </strong>{{ skills.company }}</p>
              <br>
              <p><strong>Position: </strong>{{ skills.position }}</p>
              <br>
              <p><strong>Start Date: </strong>{{ skills.start_date }}</p>
              <br>
              <p><strong>End Date: </strong>{{ skills.end_date }}</p>
              <br>
              <p><strong>Duties: </strong>{{ skills.duties }}</p>
              <br>
              <p><strong>Reason For Leaving: </strong>{{ skills.reason_for_leaving }}</p>
              <br>
              <p><strong>Skills: </strong>{{ skills.skills }}</p>
              <br>
            </p>
            <p><h3>Hobbies :</h3>{{ skills.hobbies }}</p>
          </div>
        </div>
      </div>
    </section>
    


{% endblock %}